*{
  padding:0;
  margin:0; 
}
body {
  background-color: lightgoldenrodyellow;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
p {
  text-align: center;
}

.Homepage-tung-tung{
  position: relative;
  width: 100%;
  max-width: 2000px;
  height:700px;
  margin: 40px auto;
  overflow:hidden;
}


.Logo-tung-tung {
  width: 70px;
  height: 70px;
}


.title {
  font-family: Cosmic Sans;
  text-align: center;
  flex: 1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}



.title logo-tung-tung {
  justify-content: left;
  align-items: left;
}

.title h1 {
  margin: 0;
}


/*******
Cart Button 
*******/
.cart-button {
  background-color: #ffcc00;
  padding: 10px 16px;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}

.cart-button   :hover {
  background-color: #e6b800;
}

